## Terraform gitignore
#  Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.backup

# .tfvars files
*.tfvars

# terraform plan
*.plan

## Ansible gitignore
# Ansible tmp files
inventory
*.retry

## Other gitignore
# Other files
exoscale.tfvars
cloudstack.ini
